.dashboard {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.graph-container {
  background: #1c1c1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.time-range-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.time-range-buttons button {
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.time-range-buttons button:hover {
  background-color: #2563eb;
}
